@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}
.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}
.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
/*
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 10px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1.5px;
} */

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.link img {
  transition: transform 0.3s ease; 
}

.link:hover a {
  color: var(--color-primary);
}

.link:hover img {
  transform: scale(1.1); 
}

.link:hover {
  transform: scale(1.05); 
}


@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link a {
    font-size: 14px;
  }
  .text h2 {
    font-size: 50px;
  }
  .text p {
    font-size: 20px;
  }
}
/* 
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
  .link a {
    font-size: 10px;

  }
} */
